body{
    background-color:cadetblue;
    color:beige;
    
}

#portfolio .portfolio-item .portfolio-caption {
    background-color:cadetblue ;
}

#portfolio{
    background-color:cadetblue ;
}

.portfolio-modal{
    background-color:cadetblue ;
}

.section-subheading{
    color:beige;
}

h1, h2, h3, h4, h5, h6{
    color:black;
}

#myskills{
    text-align :center ;
}

#turncolor{
    color:black;
}

.inputfield{
    color:black;
}