body{
    background-color:cadetblue;
    
}

#portfolio .portfolio-item .portfolio-caption {
    background-color:cadetblue ;
}

#portfolio{
    background-color:cadetblue ;
}

.portfolio-modal{
    background-color:cadetblue ;
}